.move-out-from-left {
  animation: moveOutLeft 0.1s ease-in-out;
}
.move-out-from-right {
  animation: moveOutRight 0.1s ease-in-out;
}
.move-to-position5-from-left {
  animation: moveToP5Left 0.1s ease-in-out;
}
.move-to-position4-from-left {
  animation: moveToP4Left 0.1s ease-in-out;
}
.move-to-position3-from-left {
  animation: moveToP3Left 0.1s ease-in-out;
}
.move-to-position2-from-left {
  animation: moveToP2Left 0.1s ease-in-out;
}
.move-to-position1-from-left{
  animation: moveToP1Left 0.1s ease-in-out;
}
.move-to-position5-from-right{
  animation: moveToP5Right 0.1s ease-in-out;
}
.move-to-position4-from-right{
  animation: moveToP4Right 0.1s ease-in-out;
}
.move-to-position3-from-right{
  animation: moveToP3Right 0.1s ease-in-out;
}
.move-to-position2-from-right{
  animation: moveToP2Right 0.1s ease-in-out;
}
.move-to-position1-from-right{
  animation: moveToP1Right 0.1s ease-in-out;
}